# The AWK Programming Language

Alfred V. Aho  
Brian W. Kernighan  
Peter J Weinberger

## 1.1 Getting Started

Suppose you have a
file called `emp.data` that contains the name, pay rate in dollars per hour, and
number of hours worked for your employees, one employee record per line:

In [1]:
cat emp.data

Beth 4.00 0
Dan 3.75 0
Kathy 4.00 10
Mark 5.00 20
Mary 5.50 22
Susie 4.25 18

Now you want to print the name and pay (rate times hours) for everyone who
worked more than zero hours:

In [1]:
awk '$3 > 0 { print $1, $2 * $3 }' emp.data

Kathy 40
Mark 100
Mary 121
Susie 76.5

To print the names of those employees who did not work:

In [2]:
awk '$3 == 0 { print $1 }' emp.data

Beth
Dan

## Simple Output

**Print every line**

In [3]:
awk '{ print }' emp.data

Beth 4.00 0
Dan 3.75 0
Kathy 4.00 10
Mark 5.00 20
Mary 5.50 22
Susie 4.25 18

In [4]:
awk '{ print $0 }' emp.data

Beth 4.00 0
Dan 3.75 0
Kathy 4.00 10
Mark 5.00 20
Mary 5.50 22
Susie 4.25 18

**Print certain fields**

In [5]:
awk '{ print $1, $3 }' emp.data

Beth 0
Dan 0
Kathy 10
Mark 20
Mary 22
Susie 18

**NF, the Number of Fields**

In [6]:
awk '{ print NF, $1, $NF }' emp.data

3 Beth 0
3 Dan 0
3 Kathy 10
3 Mark 20
3 Mary 22
3 Susie 18

**Computing and Printing**

In [7]:
awk '{ print $1, $2 * $3 }' emp.data

Beth 0
Dan 0
Kathy 40
Mark 100
Mary 121
Susie 76.5

**Printing line numbers**

In [8]:
awk '{ print NR, $0 }' emp.data

1 Beth 4.00 0
2 Dan 3.75 0
3 Kathy 4.00 10
4 Mark 5.00 20
5 Mary 5.50 22
6 Susie 4.25 18

**Putting Text in the Output**

In [10]:
awk '{ print "total pay for", $1, "is", $2 * $3 }' emp.data

total pay for Beth is 0
total pay for Dan is 0
total pay for Kathy is 40
total pay for Mark is 100
total pay for Mary is 121
total pay for Susie is 76.5